<html lang="ko">
<head>
{% load static %}
<title>성인(만 19~64세) 영양지수 체크리스트</title>
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
<style type="text/css">
.topnav > li:nth-child(2) .ubar{visibility:visible;opacity:1;}
</style>
<script type="text/javascript" src="{% static 'assets/js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery-latest.min.js' %}"></script>
<script>
var qstr = "c=c";
var seq = 1;
function send_data(){
	seq = 1;
	qstr = "c=c";
	if(check_radio(document.foodform.vegetable,'채소류 반찬') === false) return;
	if(check_radio(document.foodform.fruit,'과일') === false) return;
	if(check_radio(document.foodform.milk,'우유나 유제품') === false) return;
	if(check_radio(document.foodform.fish,'생선이나 조개류') === false) return;
	if(check_radio(document.foodform.bean,'콩이나 두부') === false) return;

	if(check_radio(document.foodform.nuts,'견과류') === false) return;
	if(check_radio(document.foodform.grains,'전곡이나 잡곡류') === false) return;
	if(check_radio(document.foodform.fat,'기름진 빵') === false) return;
	if(check_radio(document.foodform.fastfood,'패스트푸드') === false) return;
	if(check_radio(document.foodform.spicy,'맵고 짠 국물음식') === false) return;
	
	if(check_radio(document.foodform.meat,'붉은색 고기') === false) return;
	if(check_radio(document.foodform.prssmeat,'가공육류') === false) return;
	if(check_radio(document.foodform.breakfast,'아침 식사') === false) return;
	if(check_radio(document.foodform.overeat,'과식') === false) return;
	if(check_radio(document.foodform.eatlife,'건강에 좋은 식생활') === false) return;

	if(check_radio(document.foodform.foodlabel,'영양표시') === false) return;
	if(check_radio(document.foodform.handwash,'손 씻기') === false) return;
	if(check_radio(document.foodform.alcohol,'음주') === false) return;

	if(check_radio(document.foodform.sugar,'단음식 또는 단 음료') === false) return;
	if(check_radio(document.foodform.exercise,'운동') === false) return;

	if(check_radio(document.foodform.gender,'성별') === false) return;

	if(document.foodform.age.value == ""){
		alert("나이를 입력하셔야 합니다.");
		document.foodform.age.focus();
		return;
	}
	else{
		var nage = parseInt(document.foodform.age.value);
		if(nage == NaN){
			alert("나이를 정확하게 입력해주세요.");
			document.foodform.age.focus();
			return;
		}
		if(nage < 19 || nage > 64){
			var alert_str = "'성인'에 해당하는 연령은 19 ~ 64세입니다.\n"
			+ "18세 이하는 메뉴에서 '쳥소년 영양지수'를,\n"
			+ "65세 이상은 '노인 영양지수'을 선택하고 진행해주시기 바랍니다.";
			alert(alert_str);
			return;
		}
			
	}
	qstr += "&a1=" + document.foodform.age.value;

	if(document.foodform.height.value == ""){
		alert("신장을 입력하셔야 합니다.");
		document.foodform.height.focus();
		return;
	}
	qstr += "&a2=" + document.foodform.height.value;

	if(document.foodform.weight.value == ""){
		alert("몸무게를 입력하셔야 합니다.");
		document.foodform.weight.focus();
		return;
	}
	qstr += "&a3=" + document.foodform.weight.value;

	document.location = "adult_result.html?" + qstr;
}
function check_radio(dm, stitle){
	var jud = -1;
	for(var i = 0;i < dm.length;i++){
		if(dm[i].checked === true){
			jud = i;
			break;
		}
	}
	if(jud === -1){
		alert("'"+stitle+"' 항목중 1개를 선택하셔야 합니다.");
		dm[0].focus();
		return false;
	}

	qstr += "&q"+seq+"=" + dm[jud].value;
	seq++;

	return true;
}
function onload_func(){
	/*var alen = document.foodform.elements.length;
	for(var i = 0;i < alen;i++){
		if(document.foodform.elements[i].type == "radio"){
			document.foodform.elements[i].checked = true;
		}
	}*/
}
</script>
</head>

<body onload="onload_func()">
<script type="text/javascript" src="{% static 'assets/js/nav.js' %}"></script>

<div class="subtitle"></div>

<div class="survey_topimg2">
	<p class="toptitle">영양지수 체크리스트<br class="br2"><span>(성인, 만 19~64세)</span></p>
	<p class="topsub">* 균형: 8문항, 절제: 6문항, 실천: 4문항으로 구성되어 있습니다.</p>
</div>

<div id="contents" class="contents">

<div class="survey_info">
<p><span>집과 집 밖(학교, 편의점, 음식점 등)</span>에서 먹은 식품을 <span>모두 포함</span>하여 답해 주시기 바랍니다.</p>
<img src="{% static 'images/h_adult.png' %}" alt="성인 캐릭터">
</div>

<form name="foodform">
<div class="survey_area">
<dl class="survey_cont" role="radiogroup">
	<dt><div class="num n01"><p>1</p></div><p>귀하는 <span>한 번 식사할 때 김치를 제외한 채소류</span>를 몇 가지나 드십니까? </p></dt>
	<dd><label><input type="radio" name="vegetable" value="1"><p>① 거의 먹지 않는다</p></label></dd>
	<dd><label><input type="radio" name="vegetable" value="2"><p>② 1가지</p></label></dd>
	<dd><label><input type="radio" name="vegetable" value="3"><p>③ 2가지</p></label></dd>
	<dd><label><input type="radio" name="vegetable" value="4"><p>④ 3가지</p></label></dd>
	<dd><label><input type="radio" name="vegetable" value="5"><p>⑤ 4가지 이상</p></label></dd>
</dl>
<dl class="survey_cont" role="radiogroup">
	<dt><div class="num n02"><p>2</p></div><p>귀하는 <span>과일</span>을 얼마나 자주 드십니까?</p></dt>
	<dd><label><input type="radio" name="fruit" value="1"><p>① 2주일에 1번 이하</p></label></dd>
	<dd><label><input type="radio" name="fruit" value="2"><p>② 일주일에 1~3번</p></label></dd>
	<dd><label><input type="radio" name="fruit" value="3"><p>③ 일주일에 4~6번</p></label></dd>
	<dd><label><input type="radio" name="fruit" value="4"><p>④ 하루에 1번</p></label></dd>
	<dd><label><input type="radio" name="fruit" value="5"><p>⑤ 하루에 2번 이상</p></label></dd>
</dl>
<dl class="survey_cont" role="radiogroup">
	<dt><div class="num n03"><p>3</p></div><p>귀하는 <span>우유 또는 유제품</span>을 얼마나 자주 드십니까?</p></dt>
	<dd><label><input type="radio" name="milk" value="1"><p>① 2주일에 1번 이하</p></label></dd>
	<dd><label><input type="radio" name="milk" value="2"><p>② 일주일에 1~3번</p></label></dd>
	<dd><label><input type="radio" name="milk" value="3"><p>③ 일주일에 4~6번</p></label></dd>
	<dd><label><input type="radio" name="milk" value="4"><p>④ 하루에 1번</p></label></dd>
	<dd><label><input type="radio" name="milk" value="5"><p>⑤ 하루에 2번 이상</p></label></dd>
</dl>
<dl class="survey_cont" role="radiogroup">
	<dt><div class="num n05"><p>4</p></div><p>귀하는 <span>생선류를</span> 얼마나 자주 드십니까?</p></dt>
	<dd><label><input type="radio" name="fish" value="1"><p>① 거의 먹지 않는다</p></label></dd>
	<dd><label><input type="radio" name="fish" value="2"><p>② 2주일에 1번</p></label></dd>
	<dd><label><input type="radio" name="fish" value="3"><p>③ 일주일에 1~3번</p></label></dd>
	<dd><label><input type="radio" name="fish" value="4"><p>④ 일주일에 4~6번</p></label></dd>
	<dd><label><input type="radio" name="fish" value="5"><p>⑤ 하루에 1번 이상</p></label></dd>
</dl>
<dl class="survey_cont" role="radiogroup">
	<dt><div class="num n07"><p>5</p></div><p>귀하는 <span>콩이나 두부</span>를 얼마나 자주 드십니까?</p></dt>
	<dd><label><input type="radio" name="bean" value="1"><p>① 2주일에 1번 이하</p></label></dd>
	<dd><label><input type="radio" name="bean" value="2"><p>② 일주일에 1~3번</p></label></dd>
	<dd><label><input type="radio" name="bean" value="3"><p>③ 일주일에 4~6번</p></label></dd>
	<dd><label><input type="radio" name="bean" value="4"><p>④ 하루에 1번</p></label></dd>
	<dd><label><input type="radio" name="bean" value="5"><p>⑤ 하루에 2번 이상</p></label></dd>
</dl>

<dl class="survey_cont" role="radiogroup">
	<dt><div class="num n16"><p>6</p></div><p>귀하는 <span>견과류</span>를 얼마나 자주 드십니까?   </p></dt>
	<dd><label><input type="radio" name="nuts" value="1"><p>① 거의 먹지 않는다</p></label></dd>
	<dd><label><input type="radio" name="nuts" value="2"><p>② 2주일에 1번</p></label></dd>
	<dd><label><input type="radio" name="nuts" value="3"><p>③ 일주일에 1~3번</p></label></dd>
	<dd><label><input type="radio" name="nuts" value="4"><p>④ 일주일에 4~6번</p></label></dd>
	<dd><label><input type="radio" name="nuts" value="5"><p>⑤ 하루에 1번 이상</p></label></dd>
</dl>
<dl class="survey_cont" role="radiogroup">
	<dt><div class="num n22"><p>7</p></div><p>귀하는 <span>전곡이나 잡곡류(현미밥, 잡곡밥, 통밀빵 등)</span>를 얼마나 자주 드십니까?</p></dt>
	<dd><label><input type="radio" name="grains" value="1"><p>① 거의 먹지 않는다</p></label></dd>
	<dd><label><input type="radio" name="grains" value="2"><p>② 일주일에 1~3번</p></label></dd>
	<dd><label><input type="radio" name="grains" value="3"><p>③ 일주일에 4~6번</p></label></dd>
	<dd><label><input type="radio" name="grains" value="4"><p>④ 하루에 1번</p></label></dd>
	<dd><label><input type="radio" name="grains" value="5"><p>⑤ 하루에 2번 이상</p></label></dd>
</dl>
<dl class="survey_cont" role="radiogroup">
	<dt><div class="num n09"><p>8</p></div><p>귀하는 <span>기름진 빵(꽈배기, 생크림빵 등)이나 스낵 과자류(감자칩, 고구마칩 등)</span>를 얼마나 자주 드십니까?</p></dt>
	<dd><label><input type="radio" name="fat" value="1"><p>① 거의 먹지 않는다</p></label></dd>
	<dd><label><input type="radio" name="fat" value="2"><p>② 2주일에 1번</p></label></dd>
	<dd><label><input type="radio" name="fat" value="3"><p>③ 일주일에 1~3번</p></label></dd>
	<dd><label><input type="radio" name="fat" value="4"><p>④ 일주일에 4~6번</p></label></dd>
	<dd><label><input type="radio" name="fat" value="5"><p>⑤ 하루에 1번 이상</p></label></dd>
</dl>

<dl class="survey_cont" role="radiogroup">
	<dt><div class="num n10"><p>9</p></div><p>귀하는 <span>피자, 햄버거, 프라이드치킨 등의 패스트푸드</span>를 얼마나 자주 드십니까?   </p></dt>
	<dd><label><input type="radio" name="fastfood" value="1"><p>① 거의 먹지 않는다</p></label></dd>
	<dd><label><input type="radio" name="fastfood" value="2"><p>② 2주일에 1번</p></label></dd>
	<dd><label><input type="radio" name="fastfood" value="3"><p>③ 일주일에 1~3번</p></label></dd>
	<dd><label><input type="radio" name="fastfood" value="4"><p>④ 일주일에 4~6번</p></label></dd>
	<dd><label><input type="radio" name="fastfood" value="5"><p>⑤ 하루에 1번 이상</p></label></dd>
</dl>
<dl class="survey_cont" role="radiogroup">
	<dt><div class="num n23"><p>10</p></div><p>귀하는 <span>맵고 짠 국물음식(라면, 찌개류, 탕류, 국물 떡볶이 등)</span>을 얼마나 자주 드십니까?</p></dt>
	<dd><label><input type="radio" name="spicy" value="1"><p>① 2주일에 1번 이하</p></label></dd>
	<dd><label><input type="radio" name="spicy" value="2"><p>② 일주일에 1~3번</p></label></dd>
	<dd><label><input type="radio" name="spicy" value="3"><p>③ 일주일에 4~6번</p></label></dd>
	<dd><label><input type="radio" name="spicy" value="4"><p>④ 하루에 1번</p></label></dd>
	<dd><label><input type="radio" name="spicy" value="5"><p>⑤ 하루에 2번 이상</p></label></dd>
</dl>
<dl class="survey_cont" role="radiogroup">
	<dt><div class="num n25"><p>11</p></div><p>귀하는 <span>쇠고기, 돼지고기 같은 붉은색 고기</span>를 얼마나 자주 드십니까?</p></dt>
	<dd><label><input type="radio" name="meat" value="1"><p>① 거의 먹지 않는다</p></label></dd>
	<dd><label><input type="radio" name="meat" value="2"><p>② 2주일에 1번</p></label></dd>
	<dd><label><input type="radio" name="meat" value="3"><p>③ 일주일에 1~3번</p></label></dd>
	<dd><label><input type="radio" name="meat" value="4"><p>④ 일주일에 4~6번</p></label></dd>
	<dd><label><input type="radio" name="meat" value="5"><p>⑤ 하루에 1번 이상</p></label></dd>
</dl>
<dl class="survey_cont" role="radiogroup">
	<dt><div class="num n11"><p>12</p></div><p>귀하는 평소에 <span>햄, 소시지, 베이컨 등의 가공육</span>을 얼마나 자주 드십니까?</p></dt>
	<dd><label><input type="radio" name="prssmeat" value="1"><p>① 거의 먹지 않는다</p></label></dd>
	<dd><label><input type="radio" name="prssmeat" value="2"><p>② 2주일에 1번</p></label></dd>
	<dd><label><input type="radio" name="prssmeat" value="3"><p>③ 일주일에 1~3번</p></label></dd>
	<dd><label><input type="radio" name="prssmeat" value="4"><p>④ 일주일에 4~6번</p></label></dd>
	<dd><label><input type="radio" name="prssmeat" value="5"><p>⑤ 하루에 1번 이상</p></label></dd>
</dl>
<dl class="survey_cont" role="radiogroup">
	<dt><div class="num n12"><p>13</p></div><p>귀하는 일주일 동안 <span>아침 식사</span>를 얼마나 자주 하십니까? </p></dt>
	<dd><label><input type="radio" name="breakfast" value="1"><p>① 거의 먹지 않는다</p></label></dd>
	<dd><label><input type="radio" name="breakfast" value="2"><p>② 일주일에 1~2번</p></label></dd>
	<dd><label><input type="radio" name="breakfast" value="3"><p>③ 일주일에 3~4번</p></label></dd>
	<dd><label><input type="radio" name="breakfast" value="4"><p>④ 일주일에 5~6번</p></label></dd>
	<dd><label><input type="radio" name="breakfast" value="5"><p>⑤ 매일</p></label></dd>
</dl>
<dl class="survey_cont" role="radiogroup">
	<dt><div class="num n18"><p>14</p></div><p>귀하는 <span>과식이나 폭식</span>을 얼마나 자주 하십니까?</p></dt>
	<dd><label><input type="radio" name="overeat" value="1"><p>① 거의 하지 않는다</p></label></dd>
	<dd><label><input type="radio" name="overeat" value="2"><p>② 한달에 1번</p></label></dd>
	<dd><label><input type="radio" name="overeat" value="3"><p>③ 2주일에 1번</p></label></dd>
	<dd><label><input type="radio" name="overeat" value="4"><p>④ 일주일에 1번</p></label></dd>
	<dd><label><input type="radio" name="overeat" value="5"><p>⑤ 일주일에 3~4번</p></label></dd>
	<dd><label><input type="radio" name="overeat" value="6"><p>⑥ 하루에 1번 이상</p></label></dd>
</dl>
<dl class="survey_cont" role="radiogroup">
	<dt><div class="num n07"><p>15</p></div><p>귀하는 평소에 <span>건강에 좋은 식생활</span>을 하려고 노력하십니까? </p></dt>
	<dd><label><input type="radio" name="eatlife" value="1"><p>① 전혀 노력하지 않는다</p></label></dd>
	<dd><label><input type="radio" name="eatlife" value="2"><p>② 노력하지 않는 편이다</p></label></dd>
	<dd><label><input type="radio" name="eatlife" value="3"><p>③ 보통이다</p></label></dd>
	<dd><label><input type="radio" name="eatlife" value="4"><p>④ 노력하는 편이다</p></label></dd>
	<dd><label><input type="radio" name="eatlife" value="5"><p>⑤ 매우 노력한다</p></label></dd>	
</dl>
<dl class="survey_cont" role="radiogroup">
	<dt><div class="num n20"><p>16</p></div><p>귀하는 외식 시 또는 가공식품을 구입할 때  <span>영양표시</span>를 확인하십니까? </p></dt>
	<dd><label><input type="radio" name="foodlabel" value="1"><p>① 전혀 확인하지 않는다</p></label></dd>
	<dd><label><input type="radio" name="foodlabel" value="2"><p>② 확인하지 않는 편이다</p></label></dd>
	<dd><label><input type="radio" name="foodlabel" value="3"><p>③ 보통이다</p></label></dd>
	<dd><label><input type="radio" name="foodlabel" value="4"><p>④ 확인하는 편이다</p></label></dd>
	<dd><label><input type="radio" name="foodlabel" value="5"><p>⑤ 항상 확인한다</p></label></dd>
</dl>
<dl class="survey_cont" role="radiogroup">
	<dt><div class="num n13"><p>17</p></div><p>귀하는 음식을 먹기 전에 <span>손을 씻으십니까?</span></p></dt>
	<dd><label><input type="radio" name="handwash" value="1"><p>① 전혀 씻지 않는다</p></label></dd>
	<dd><label><input type="radio" name="handwash" value="2"><p>② 씻지 않는 편이다</p></label></dd>
	<dd><label><input type="radio" name="handwash" value="3"><p>③ 보통이다</p></label></dd>
	<dd><label><input type="radio" name="handwash" value="4"><p>④ 씻는 편이다</p></label></dd>
	<dd><label><input type="radio" name="handwash" value="5"><p>⑤ 항상 씻는다</p></label></dd>
</dl>
<dl class="survey_cont" role="radiogroup">
	<dt><div class="num n26"><p>18</p></div><p>귀하는 <span>남자의 경우 7잔(또는 맥주 5캔 정도), 여자의 경우 5잔(또는 맥주 3캔 정도) 이상의 술</span>을 얼마나 자주 드십니까?</p></dt>
	<dd><label><input type="radio" name="alcohol" value="1"><p>① 최근 1년간 전혀 마시지 않았다</p></label></dd>
	<dd><label><input type="radio" name="alcohol" value="2"><p>② 한달에 1번 미만</p></label></dd>
	<dd><label><input type="radio" name="alcohol" value="3"><p>③ 한달에 1번 정도</p></label></dd>
	<dd><label><input type="radio" name="alcohol" value="4"><p>④ 한달에 2~4번 </p></label></dd>
	<dd><label><input type="radio" name="alcohol" value="5"><p>⑤ 일주일에 2~3번 정도</p></label></dd>
	<dd><label><input type="radio" name="alcohol" value="6"><p>⑥ 일주일에 4번 이상</p></label></dd>
</dl>
<dl class="survey_cont" role="radiogroup">
	<dt><div class="num n27"><p>19</p></div><p>귀하는 <span>가당음료(탄산음료, 믹스커피, 유자차 등)</span>를 얼마나 자주 마십니까?</p></dt>
	<dd><label><input type="radio" name="sugar" value="1"><p>① 2주일에 1번 이하</p></label></dd>
	<dd><label><input type="radio" name="sugar" value="2"><p>② 일주일에 1~3번</p></label></dd>
	<dd><label><input type="radio" name="sugar" value="3"><p>③ 일주일에 4~6번</p></label></dd>
	<dd><label><input type="radio" name="sugar" value="4"><p>④ 하루에 1~2번</p></label></dd>
	<dd><label><input type="radio" name="sugar" value="5"><p>⑤ 하루에 3번 이상</p></label></dd>
</dl>
<dl class="survey_cont" role="radiogroup">
	<dt><div class="num n15"><p>20</p></div><p>귀하는 <span>30분 이상 숨이 찰 정도의 운동</span>을 얼마나 자주 하십니까? </p></dt>
	<dd><label><input type="radio" name="exercise" value="1"><p>① 거의 하지 않는다</p></label></dd>
	<dd><label><input type="radio" name="exercise" value="2"><p>② 일주일에 1~2번</p></label></dd>
	<dd><label><input type="radio" name="exercise" value="3"><p>③ 일주일에 3~4번</p></label></dd>
	<dd><label><input type="radio" name="exercise" value="4"><p>④ 일주일에 5~6번</p></label></dd>
	<dd><label><input type="radio" name="exercise" value="5"><p>⑤ 매일</p></label></dd>
</dl>
<p class="exinfo">*19, 20번은 참고용 문항</p>
<div class="generaldet">
<div class="gen_title"><p>일반사항</p></div>
<dl class="gen_cont">
	<dt>1. 성별은?</dt><dd><input type="radio" name="gender" value="남" id="gender_male" style="width:auto"> <label for="gender_male">남자</label>
		<span class="nd">&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="nm"><br></span>
		<label><input type="radio" name="gender" value="여" id="gender_famale" style="width:auto"> <label for="gender_famale">여자</label></dd>
	<dt><label for="age">2. 만 나이는?</label></dt><dd>만 <input type="number" name="age" id="age">세</dd>
	<dt><label for="height">3. 키는?</label></dt><dd><input type="number" name="height" id="height">cm</dd>
	<dt><label for="weight">4. 몸무게는?</label></dt><dd><input type="number" name="weight" id="weight">kg</dd>
</dl>
</div>
<p class="exinfo">※참고용 문항이란? 영양지수 평가문항에 포함되지 않으나, 영양교육이나 상담 시 참고할 수 있는 문항입니다.</p>
<div class="resultsect">
	<a href="/check" class="printbtn"><p>뒤로 가기</p></a>
	<div id="printinfo" class="printinfosect">
	</div>
	<div id="blackback" class="blackback" onclick="closebtn();"></div>
	<a href="javascript:send_data()" class="resultbtn"><p>　결과 보기</p></a>
	</div>
</div>
</form>

</div>
<div class="topbtn"><a href="javascript:window.scrollTo(0,0);"><img src="{% static 'images/top_btn.png' %}" alt="위로 가기 버튼" width="100" height="100"></a></div>
<script>
(function(){
	$(".topnav > li").bind("mouseenter focusin", function() {
		$(this).addClass("on").siblings().removeClass("on");
	});
	$(".topnav > li").bind("mouseleave focusout", function() {
		$(this).removeClass("on");
	});
})(); 
</script>

</body>
</html>